# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
env/
ENV/
myenv/
.venv/